body {
	padding:20px;
	margin:20px;
}
table {
	border-collapse: collapse;
	width:100%;
}

table, th, td {
	border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
}

#myArea {
	display: none;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: #4CAF50;
    color: white;
}
tr:hover {background-color: #ddd;}

